<div class="container">

  <div class="row justify-content-center mb-5">
    <h1 class="col-12 text-center">Scraper</h1>
    <button type="button" id="home" class="mx-1 my-3 btn btn-primary">Home</button>
    <button type="button" id="scrape" class="mx-1 my-3 btn btn-primary">Scrape</button>
    <button type="button" id="saved" class="mx-1 my-3 btn btn-primary">Saved articles</button>

    <p id="home-msg" class="col-12 text-center">Let's scrape articles!</p>
  </div>


  <div id="saved-articles" class="row"></div>

  <div id="article" class="row"></div>

</div>


<!-- Modal -->
<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <p>Existing notes</p>
        <div id="existing-notes"></div>

        <form>
          <label for="new-notes">Add new notes</label>
          <textarea class="form-control" id="new-notes" rows="2"></textarea>
          <button type="button" class="btn btn-secondary" id="clear">Clear</button>
          <button type="button" class="btn btn-primary" id="add-notes">Add</button>
        </form>
      </div>

      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>