<button type="button" id="scrape">Scrape</button>
{{!-- <button type="button" id="clear">Clear</button> --}}
<button type="button" id="saved"><a href="/saved">Saved articles</a></button>

{{!-- to move to saved.handlebars --}}
<div id="saved-articles"></div>

<div id="article"></div>